{% extends 'products/base.html' %}

{% load static %}

{% block css %}
        <link href="{% static '/vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    New looks and top brands on the Store.
                    Free worldwide shipping! Outlet: up to -70% Own brand. -20% for new customers.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Start shoping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
